.avatar-rounded-square {
  border-radius: 10%;
  height: auto;
}


// Use smaller avatar size in About widget on small devices.
@include media-breakpoint-down(sm) {
  .wg-about .avatar-rounded-square {
    height: auto;
  }
}
